.question-select {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px 24px; 
}

.question-select__button {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.question-select__button--active {
  font-weight: bold;
  border: 2px solid #1e1e1e;
}
